target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/
.classpath
.idea/.name
.idea/dataSources.local.xml
.idea/dataSources/
.idea/misc.xml
.idea/workspace.xml
.project
.settings/
HadoopMapReduce.iml
access_log_out/
access_log_comb_out/
co_stripes_comb_output/
co_stripes_comb_rel_output/
co_stripes_output/
co_stripes_rel_output/
hybrid_out/
pair_co_comb_output/
pair_co_output/
pair_co_rel_comb_output/
pair_co_rel_output/
hybrid_comb_out/


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
src/main/resources/
src/test/
